.blog-container {
  padding-top: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  /* padding-top: 25%; */
  /* display: none !important; */
}

.blog-pending {
  display: block !important;
}

.pending {
  margin: 0;
  position: absolute;
  top: 50%;
  background-color: wheat;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.CKEditor-input {
  background-color: wheat;
  padding: 10px;
  margin: 5px;
  height: 50vh;
  color: black;
}
